.container{
    display:flex;
    margin-top: 50px;
}

h1{
    color: rgb(86, 5, 49);
}
span{
    color: darkred;

}
.item-1{
    display: flex;
    flex-direction: column;
}

.post{
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding-left: 50px;
}
