
.password-form{
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    min-width: 180px;
    padding: 20px;
    margin: 8% auto 0;
    margin-top: 5%;
    text-align: center;
    
}


.password-form h1{
    color: rgb(48, 83, 212);
    margin-top: 1px;
    margin-bottom: 10px;
}

.input-box{
    border-radius: 20px;
    width: 85%;
    padding: 10px;
    margin: 15px;
    outline: none;
    border: 1px solid rgb(153, 153, 153);
    background: rgba(255, 252, 252, 0.5);
}




.sub-btn{
    font-size: 18px;
    font-weight: bold;
    width: 5em;
    margin: 15px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 28px;
    background: rgba(249, 244, 244, 0.5);
    color: rgb(59, 92, 212);
    cursor: pointer;
}

.sub-btn:hover{
    background-color: rgba(83, 132, 174, 0.5);
    color: rgb(62, 143, 213);
}