.base-tag{
    color: rgb(82, 178, 56);
}

body{
    /* background-image: url('/media/images/background1.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(161, 106, 33);
}