
    {% extends 'base.html' %}
    {% load static %}

    {% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/css/password.css' %}">
{% endblock link %}
    
    {% block content %} 
    <div class="password-form">
        <h1>Change Password</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}}  {{fm}} 
            {% endfor %}
            <input class="sub-btn" type="submit" value="Submit">
        </form>
    </div>
    {% endblock content %}
