
    {% extends 'base.html' %}

    {% load static %}

    {% load cache %}

    {% block title %}
        home page
    {% endblock title %}
        
    
    {% block link %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
    {% endblock link %}
        
    {% block content %}
    <div class="container">
        <div class="item-1">
            {% cache 60 heading %}
                <h1>Welcome sir <span>{{request.user.username}}</span></h1>
            {% endcache heading %}    
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Save" class="save-btn">
                </form>

        </div>

        <div class="item-2">
                {% for post in posts %}
                <div class="post">
                        {% for image in images %}
                            {% if image.user == post.author %}    
                                <img class="home-img" src="{{image.photo.url}}" alt="">                    
                            {% endif %}
                        {% endfor %}
                        
                    <h1>{{post.author.username}}</h1>
                    
                    <h2>{{post.title}}</h2>
                    <p>{{post.content}}</p>
                    {% if request.user == post.author %}
                        <a href="{% url 'editpost' post.id %}">Edit</a>
                        <a href="{% url 'deletepost' post.id%}">Delete</a>
                    {% endif %}
                </div>
                {% endfor %}
            
        </div>

    </div>


    {% endblock content %}



    
