
    {% extends 'base.html' %}

    {% load static %}

    
    {% block link %}
        {{block.super}}
        <link rel="stylesheet" href="{% static 'blog/css/login.css' %}">
    {% endblock link %}
        

    {% block content %}

        
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    
    <div class="login-form">
        <h1>Login Here</h1>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br>
            {% endfor %}
            
            <input class="log-btn" type="submit" value="Login">
        </form>
        <small>Not Sign Up Yet?</small>
        <a class="sign-btn" href="{% url 'signup' %}">SignUp</a>
    </div>

    {% endblock content %}
