
    {% extends 'base.html' %}

    {% load static %}
    
    {% block content %}
        
    
    {% block link %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'blog/css/profile.css' %}">
    {% endblock link %}
        
    <div class="profile-form">
        {% if image.photo %}
            <img src="{{image.photo.url}}" alt="" height="200">
        {% else %}
            <img src="{{default}}" alt="">
        {% endif %}
    
        <form action="" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in pform %}
                {{field.label_tag}} <br> {{field}} {{field.errors|striptags}} <br><br>
            {% endfor %}
            {{iform}}
            <br><br>
            <input class="save-btn" type="submit" value="Save">
        </form>
        
        <a class="change-pass" href="{% url 'changepass' %}">Change Password</a>
    </div>
    {% endblock content %}