<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block link %}
        <link rel="stylesheet" href="{% static 'css/base1.css' %}">
    {% endblock link %}
        
    <title>
        {% block title %} Base Page {% endblock title %}
    </title>
</head>
<body>
    <header>
        <nav class="main-nav">
            <h1 class="main-heading">Usama Project</h1>
            {% if  request.user.is_authenticated %}
            <a class="nav-link home" href="{% url 'home' %}">Home</a>
            <a class="nav-link profile" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link out" href="{% url 'logout' %}">Logout</a>
            {% else %}
            
            <a class="nav-link " href="{% url 'signup' %}">Sign Up</a>
            <a class="nav-link " href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>  

    <section class="banner">
    
        {% block content %}
            
        {% endblock content %}
    </section>
</body>
<script>
    document.addEventListener('scroll', () => {
        const header = document.querySelector('header');
        if(window.scrollY > 0){
            header.classList.add('scrolled');
        }else{
            header.classList.remove('scrolled')
        }
    })
</script>
</html>