<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block link %}
        <link rel="stylesheet" href="{% static 'css/base1.css' %}">
    {% endblock link %}
        
    <title>
        {% block title %} Base Page {% endblock title %}
    </title>
</head>
<body>
    {% include 'nav.html' %}

    
    
    <br><br>
    
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>