<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar page</title>
    <link rel="stylesheet" href="{% static 'css/nav1.css' %}">
</head>
<body>
    <nav class="main-nav">
        <h2 class="main-heading">Blog Project</h2>
        {% if  request.user.is_authenticated %}
        <h3 class="home-link"><a class="home-js" href="{% url 'home' %}">Home</a></h3>
        <h3 class="profile-link"><a class="profile-js" href="{% url 'profile' %}">Profile</a></h3>
        <h3 class="out-link"><a class="out-js" href="{% url 'logout' %}">Logout</a></h3>
        {% else %}
        
            <h3 class="sign-link"><a href="{% url 'signup' %}">Sign Up</a></h3>
            <h3 class="login-link"><a href="{% url 'login' %}">Login</a></h3>
        {% endif %}
    </nav>

    <script src="{% static 'js/file1.js' %}"></script>  
</body>
</html>